@model SistemaCuidado.Models.ClaseUsuarios
@{
	ViewData["Title"] = "Iniciar Sesión";
}
<H1>Iniciar Sesión</H1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Logueo" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label">Correo electrónico</label>
                <input asp-for="Correo" class="form-control" required />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Contraseña" class="control-label"></label>
                <input asp-for="Contraseña" class="form-control" type="password" required />
                <span asp-validation-for="Contraseña" class="text-danger"></span>
            </div>
            <span Class="text-danger">@ViewBag.Error</span>
            </br>
            <div class="form-group">
                <input type="submit" value="Acceder" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
