<H1>
	Nosotros
</H1>
<label>
	<p>
		Somos una empresa que se preocupa por la salud y el bienestar humano.
	</p>
	<p>
		Es por eso que hemos desarrollado este sistema, capaz de almacenar tus datos como la edad, peso, altura, etc. Los cuales ayudaran a determinar ciertos cuidados generales para cualquier enfermedad, sindrome o cualquier tipo de padecimiento que el usuario tenga.
	</p>
	<p>
		Todo esto se logra con la ayuda de la IA (Inteligencia Artificial) de GPT-4, la cual evalua todos los parametros para darte una mejor guía de cuidado.
	</p>
</label>